dist/index.html
<PUG></PUG>
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="title" content="Zakład Garbarski" />
        <meta name="description" content="Rodzinny Zakład Garbarski działający na rynku od 1966 roku" />
        <meta name="keywords" content="skóra, garbarnia, zakład garbarski, biznes rodzinny, buty, obuwie, Radom, galanteria" />
        <meta name="robots" content="index, follow" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="revisit-after" content="1 days" />
        <meta name="language" content="PL" />
        <meta name="author" content="" />
        <title>Zakład Garbarski w Radomiu</title>
        <link rel="icon" type="image/x-icon" href="/assets/img/d/logo-light.png" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top"><img src="/assets/img/d/logo-full-light.png" alt="" height="39" /></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#about">O Nas</a></li>
                        <li class="nav-item"><a class="nav-link" href="#description">Opis</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Kontakt</a></li>
                        <li class="nav-item"><a class="nav-link disabled"></a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="flag flag-poland"></i>
                                <!--if selectedLanguage === "RU"-->
                                <!--    i.flag.flag-russia-->
                                PL
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li>
                                    <a class="dropdown-item" href="/en/index.html">
                                        <i class="flag flag-united-kingdom"></i>
                                        EN
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/ua/index.html">
                                        <i class="flag flag-ukraine"></i>
                                        UA
                                    </a>
                                </li>
                                <!--if selectedLanguage === "RU"-->
                                <!--    li-->
                                <!--        a.dropdown-item(href="/ru/index.html")-->
                                <!--            i.flag.flag-russia-->
                                <!--            | RU-->
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <!--h2.text-white-50.mx-auto.mt-2 Rodzinny-->
                        <h1 class="mx-auto my-0 text-uppercase">GARBARNIA</h1>
                        <h2 class="text-white-50 mx-auto mt-2">Adamczak i Kucharczyk</h2>
                        <h3 class="text-white-50 mx-auto mt-2 mb-5">w Radomiu</h3>
                        <a class="btn btn-primary" href="#about">O Nas</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">Rodzinny Zakład Garbarski</h2>
                        <p class="text-white-50">Jesteśmy firmą rodzinną działająca na rynku od 1966 roku. Produkujemy skórę z przeznaczeniem na obuwie i galanterię. Są to skóry bydlęce typu nappa, nubuk, crazy. Wielokrotnie zdobywaliśmy medale na Międzynarodowych Targach Poznańskich.</p>
                    </div>
                </div>
                <img class="img-fluid main_image" src="/assets/img/ipad.png" alt="..." />
            </div>
        </section>
        <!-- Projects-->
        <section class="projects-section bg-light" id="description">
            <div class="container px-4 px-lg-5">
                <!-- Featured Project Row-->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="/assets/img/d/wlasciciele-inspekcja-jakosci-cropped-light.jpg" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Najlepsi</h4>
                            <p class="text-black-50 mb-0">Jesteśmy liderem jakości w naszej branży, tworzymy wysoko jakościową skórę, która regularnie zdobywa wysokie certyfikaty jakości.</p>
                        </div>
                    </div>
                </div>
                <!-- Project One Row-->
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="/assets/img/d/skora-wzorce-1-light.jpg" alt="..." /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Duży wybór</h4>
                                    <p class="mb-0 text-white-50">Produkujemy skóry: bydlęce, cielęce, świńskie.</p>
                                    <hr class="d-none d-lg-block mb-0 ms-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="/assets/img/d/wystawa-5-zloty-medal-light.jpg" alt="..." /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Złoty Medal</h4>
                                    <p class="mb-0 text-white-50">Nasze skóry zawsze są doceniane wśród klientów.</p>
                                    <hr class="d-none d-lg-block mb-0 me-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project One Row-->
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="/assets/img/d/skora-wzorce-3-light.jpg" alt="..." /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Produkt końcowy</h4>
                                    <p class="mb-0 text-white-50">Nasi klienci to producenci: odzieży, obuwia i galanterii.</p>
                                    <hr class="d-none d-lg-block mb-0 ms-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="/assets/img/d/skora-wzorce-2-light.jpg" alt="..." /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Wysoka jakość produkcji</h4>
                                    <p class="mb-0 text-white-50">Wykorzystujemy sprawdzone środki chemiczne firm: BASF, STAHL, KEMIA TAU.</p>
                                    <hr class="d-none d-lg-block mb-0 me-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project One Row-->
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="/assets/img/d/garbarnia-dron.jpg" alt="..." /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Garbarstwo mamy we krwi</h4>
                                    <p class="mb-0 text-white-50">Od pokoleń prowadzimy garbarnię w Radomiu.</p>
                                    <hr class="d-none d-lg-block mb-0 ms-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="signup-section" id="signup">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-12 col-lg-12 mx-auto text-center"><iframe class="google-map-address" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2486.7003026862412!2d21.139626438330858!3d51.445297582335094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471858967f8f0775%3A0x915eef0ef24fe5e5!2sZak%C5%82ad%20garbarski!5e0!3m2!1sen!2spl!4v1658090225668!5m2!1sen!2spl" style="border: 0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                </div>
            </div>
        </section>
        <!-- Contact-->
        <section class="contact-section bg-black" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Adres</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">ul. Trzebińskiego 8, 26-600 Radom</div>
                                <div class="small text-black-50">NIP: 7961755252</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50"><a href="#!">hadamczak@poczta.onet.pl</a></div>
                                <div class="small text-black-50"><a href="#!">andkuc@onet.pl</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center card-body-phone">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Telefon</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">tel./fax: +48 345 14 29</div>
                                <div class="small text-black-50">kom: +48 603 055 367</div>
                                <div class="small text-black-50">kom: +48 606 468 808</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer bg-black small text-center text-white-50">
            <div class="container px-4 px-lg-5">Copyright &copy; Zakład Garbarski</div>
            <div class="container px-4 px-lg-5"><a href="" target="_blank" data-bs-toggle="modal" data-bs-target="#cookie-description">Polityka prywatności</a></div>
        </footer>
        <section id="cookie">
            <div class="alert alert-dark text-center mb-0" id="cb-cookie-banner" role="alert">
                🍪 Ta strona korzysta z ciasteczek. Dalsze korzystanie ze strony oznacza, że zgadzasz się na ich użycie
                <a href="" target="_blank" data-bs-toggle="modal" data-bs-target="#cookie-description">Więcej</a>
                <button class="btn btn-primary btn-sm ms-3" type="button" onclick="window.cb_hideCookieBanner()">Rozumiem</button>
            </div>
            <div class="modal fade" id="cookie-description">
                <div class="modal-dialog modal-dialog-scrollable modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modal-title">🍪</div>
                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" style="text-align: center">
                            <h4>Polityka prywatności</h4>
                            <br />
                            <br />
                            <span>Cookies to małe pliki tekstowe zapisywane na urządzeniu Użytkownika (komputer, telefon, tablet), a następnie podczas kolejnych wizyt, pobierane z niego, zbierający informacje – np. poprzez zapamiętywanie odwiedzin Użytkownika na Stronie i dokonywanych przez niego czynności.</span>
                            <br />
                            <br />
                            <span>Wykorzystanie zebranych za pośrednictwem cookies danych osobowych w celach: dostarczania Użytkownikowi usług świadczonych drogą elektroniczną oraz poprawy jakości tych usług, a także w celach statystycznych, analitycznych, marketingowych, w szczególności w zakresie promowania usług i towarów podmiotów trzecich, odbywa się na podstawie zgody Użytkownika (art. 6 ust. 1 lit. a) RODO). Zgoda na wykorzystanie plików cookie może być wyrażona poprzez odpowiednią konfigurację przeglądarki. Zgoda zostać w każdym momencie wycofana, w szczególności poprzez wyczyszczenie historii cookies oraz wyłączenie obsługi cookies w ustawieniach przeglądarki.</span>
                            <br />
                            <br />
                            <span>W Polityce informacje dotyczące cookies mają zastosowanie również do innych podobnych technologii stosowanych na Stronie. Jeśli korzystasz z naszych usług, zakładamy, że zgadzasz się na używanie plików cookie.</span>
                            <br />
                            <br />
                            <span>Użytkownik może zmienić ustawienia przeglądarki tak, aby cookies były blokowane – w całości lub w części, np. tylko od stron trzecich, albo aby każdorazowo otrzymywać komunikat w momencie kiedy cookies są wysyłane na Twoje urządzenie. Należy jednak pamiętać, że zablokowanie używania przez Użytkownika cookies, może negatywnie wpłynąć na wygodę korzystania ze Strony.</span>
                            <br />
                            <br />
                            <span>
                                W oparciu o cookies Administrator w sposób zautomatyzowany podejmuje decyzje, w tym o profilowaniu. Administrator wykorzystuje tzw. cookies serwisowe m.in. w związku z kierowaniem do Użytkowników reklamy na profilach takich jak Facebook, w tym reklamy behawioralnej. Pliki cookies wykorzystywane w tym celu obejmują: pliki cookies z danymi wprowadzanymi przez Użytkownika (identyfikator sesji) na czas trwania sesji (ang. user input cookies), uwierzytelniające pliki cookies wykorzystywane do usług wymagających uwierzytelniania na czas trwania sesji (ang. authentication cookies), pliki cookies służące do zapewnienia bezpieczeństwa, np. wykorzystywane do wykrywania nadużyć w zakresie uwierzytelniania (ang. user centric security cookies), sesyjne pliki cookies odtwarzaczy multimedialnych (np. pliki cookies odtwarzacza flash), na czas trwania sesji (ang. multimedia player session cookies), trwałe pliki cookies służące do personalizacji interfejsu Użytkownika na
                                czas trwania sesji lub nieco dłużej (ang. user interface customization cookies), pliki cookies służące do zapamiętywania zawartości koszyka na czas trwania sesji (ang. shopping cart cookies), pliki cookies służące do monitorowania ruchu na stronie internetowej, tj. analityki danych, w tym cookies Google Analytics (są to pliki wykorzystywane przez spółkę Google w celu analizy sposobu korzystania z Serwisu przez Użytkownika, do tworzenia statystyk i raportów dotyczących funkcjonowania Serwisu). Google nie wykorzystuje zebranych danych do identyfikacji Użytkownika ani nie łączy tych informacji w celu umożliwienia identyfikacji. Szczegółowe informacje o zakresie i zasadach zbierania danych w związku z tą usługą można znaleźć pod linkiem: https://www.google.com/intl/pl/policies/privacy/partners. Ze względu na okres przechowywania można wyróżnić pliki cookies „stałe i ”sesyjne” , przy czym „stałe” pozostają w przeglądarce internetowej do czasu ich usunięcia
                                przez Użytkownika bądź do z góry ustalonego czasu określonego w parametrach pliku cookies, a ”sesyjne” pozostają w przeglądarce internetowej do momentu jej wyłączenia, bądź wyjścia / wylogowania się.
                            </span>
                            <br />
                            <br />
                            <span>Dane osobowe przechowywane są na terenie Europejskiego Obszaru Gospodarczego. Administrator zastrzega sobie prawo zmiany Polityki w celu doskonalenia zasad ochrony prywatności i stosowania przepisów prawa.</span>
                        </div>
                        <div class="modal-footer"><button class="btn btn-primary" type="button" data-bs-dismiss="modal">Ok</button></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
        <script src="/js/cookie-scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script src="https://www.googletagmanager.com/gtag/js?id=UA-233614410-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-233614410-1');
        </script>
    </body>
</html>

src/pug/ua/index.pug
include translation-variables

doctype html
html(lang=language)

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='title', content=pageHead.meta.title)
        meta(name='description', content=pageHead.meta.description)
        meta(name='keywords', content=pageHead.meta.keywords)
        meta(name='robots', content='index, follow')
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        meta(name="revisit-after" content="1 days")
        meta(name="language" content=languageCapital)
        meta(name='author', content='')

        title #{pageHead.title}

        link(rel='icon', type='image/x-icon', href='/assets/img/d/logo-light.png')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='/css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container.px-4.px-lg-5
                a.navbar-brand(href='#page-top')
                    img(src="/assets/img/d/logo-full-light.png" alt="" height="39")
                button.navbar-toggler.navbar-toggler-right(
                    type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive',
                    aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation'
                )
                    | Menu
                    i.fas.fa-bars
                div#navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href='#about') #{mainNav.aboutUs}
                        li.nav-item
                            a.nav-link(href='#description') #{mainNav.description}
                        li.nav-item
                            a.nav-link(href='#contact') #{mainNav.concat}
                        li.nav-item
                            a.nav-link.disabled
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle(
                                href="#" id="navbarScrollingDropdown", role="button", data-bs-toggle="dropdown",
                                aria-expanded="false"
                            )
                                if selectedLanguage === "PL"
                                    i.flag.flag-poland
                                if selectedLanguage === "UA"
                                    i.flag.flag-ukraine
                                if selectedLanguage === "EN"
                                    i.flag.flag-united-kingdom
                                //if selectedLanguage === "RU"
                                //    i.flag.flag-russia
                                | #{selectedLanguage}

                            ul.dropdown-menu(aria-labelledby="navbarScrollingDropdown")
                                if selectedLanguage !== "EN"
                                    li
                                        a.dropdown-item(href="/en/index.html")
                                            i.flag.flag-united-kingdom
                                            | EN
                                if selectedLanguage !== "UA"
                                    li
                                        a.dropdown-item(href="/ua/index.html")
                                            i.flag.flag-ukraine
                                            | UA
                                if selectedLanguage !== "PL"
                                    li
                                        a.dropdown-item(href="/index.html")
                                            i.flag.flag-poland
                                            | PL
                                //if selectedLanguage === "RU"
                                //    li
                                //        a.dropdown-item(href="/ru/index.html")
                                //            i.flag.flag-russia
                                //            | RU

        // Masthead
        header.masthead
            .container.px-4.px-lg-5.d-flex.h-100.align-items-center.justify-content-center
                .d-flex.justify-content-center
                    .text-center
                        //h2.text-white-50.mx-auto.mt-2 Rodzinny
                        h1.mx-auto.my-0.text-uppercase #{masthead.title}
                        h2.text-white-50.mx-auto.mt-2 #{masthead.founderNames}
                        h3.text-white-50.mx-auto.mt-2.mb-5 #{masthead.location}
                        a.btn.btn-primary(href='#about') #{masthead.aboutUs}

        // About
        section#about.about-section.text-center
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8
                        h2.text-white.mb-4 #{about.title}
                        p.text-white-50 #{about.description}
                img.img-fluid.main_image(src='/assets/img/ipad.png', alt='...')

        // Projects
        section#description.projects-section.bg-light
            .container.px-4.px-lg-5
                // Featured Project Row
                .row.gx-0.mb-4.mb-lg-5.align-items-center
                    .col-xl-8.col-lg-7
                        img.img-fluid.mb-3.mb-lg-0(src='/assets/img/d/wlasciciele-inspekcja-jakosci-cropped-light.jpg', alt='...')
                    .col-xl-4.col-lg-5
                        .featured-text.text-center.text-lg-left
                            h4 #{description.main.title}
                            p.text-black-50.mb-0 #{description.main.description}
                // Project One Row
                .row.gx-0.mb-5.mb-lg-0.justify-content-center
                    .col-lg-6
                        img.img-fluid(src='/assets/img/d/skora-wzorce-1-light.jpg', alt='...')
                    .col-lg-6
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h4.text-white #{description.section1.title}
                                    p.mb-0.text-white-50 #{description.section1.description}
                                    hr.d-none.d-lg-block.mb-0.ms-0
                // Project Two Row
                .row.gx-0.justify-content-center
                    .col-lg-6
                        img.img-fluid(src='/assets/img/d/wystawa-5-zloty-medal-light.jpg', alt='...')
                    .col-lg-6.order-lg-first
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-right
                                    h4.text-white #{description.section2.title}
                                    p.mb-0.text-white-50 #{description.section2.description}
                                    hr.d-none.d-lg-block.mb-0.me-0
                // Project One Row
                .row.gx-0.mb-5.mb-lg-0.justify-content-center
                    .col-lg-6
                        img.img-fluid(src='/assets/img/d/skora-wzorce-3-light.jpg', alt='...')
                    .col-lg-6
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h4.text-white #{description.section3.title}
                                    p.mb-0.text-white-50 #{description.section3.description}
                                    hr.d-none.d-lg-block.mb-0.ms-0
                // Project Two Row
                .row.gx-0.justify-content-center
                    .col-lg-6
                        img.img-fluid(src='/assets/img/d/skora-wzorce-2-light.jpg', alt='...')
                    .col-lg-6.order-lg-first
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-right
                                    h4.text-white #{description.section4.title}
                                    p.mb-0.text-white-50 #{description.section4.description}
                                    hr.d-none.d-lg-block.mb-0.me-0

                // Project One Row
                .row.gx-0.mb-5.mb-lg-0.justify-content-center
                    .col-lg-6
                        img.img-fluid(src='/assets/img/d/garbarnia-dron.jpg', alt='...')
                    .col-lg-6
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h4.text-white #{description.section5.title}
                                    p.mb-0.text-white-50 #{description.section5.description}
                                    hr.d-none.d-lg-block.mb-0.ms-0

        section#signup.signup-section
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .col-md-12.col-lg-12.mx-auto.text-center
                        iframe.google-map-address(
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2486.7003026862412!2d21.139626438330858!3d51.445297582335094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471858967f8f0775%3A0x915eef0ef24fe5e5!2sZak%C5%82ad%20garbarski!5e0!3m2!1sen!2spl!4v1658090225668!5m2!1sen!2spl"
                            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                        )

        // Contact
        section#contact.contact-section.bg-black
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-map-marked-alt.text-primary.mb-2
                                h4.text-uppercase.m-0 #{contact.address.title}
                                hr.my-4.mx-auto
                                .small.text-black-50 #{contact.address.address}
                                .small.text-black-50 #{contact.address.formality}
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-envelope.text-primary.mb-2
                                h4.text-uppercase.m-0 #{contact.email.title}
                                hr.my-4.mx-auto
                                .small.text-black-50
                                    a(href='#!') #{contact.email.email1}
                                .small.text-black-50
                                    a(href='#!') #{contact.email.email2}
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center.card-body-phone
                                i.fas.fa-mobile-alt.text-primary.mb-2
                                h4.text-uppercase.m-0 #{contact.phone.title}
                                hr.my-4.mx-auto
                                .small.text-black-50 #{contact.phone.fax}
                                .small.text-black-50 #{contact.phone.phone1}
                                .small.text-black-50 #{contact.phone.phone2}

        // Footer
        footer.footer.bg-black.small.text-center.text-white-50
            .container.px-4.px-lg-5
                | Copyright &copy; Zakład Garbarski
            .container.px-4.px-lg-5
                a(href="", target="_blank", data-bs-toggle="modal", data-bs-target="#cookie-description") #{cookie.on_page_title}

        section#cookie
            div#cb-cookie-banner.alert.alert-dark.text-center.mb-0(role="alert") 🍪 #{cookie.title}
                a(href="", target="_blank", data-bs-toggle="modal", data-bs-target="#cookie-description") #{cookie.more_button}
                button.btn.btn-primary.btn-sm.ms-3(type="button", onclick="window.cb_hideCookieBanner()") #{cookie.accept_button}

            div#cookie-description.modal.fade
                div.modal-dialog.modal-dialog-scrollable.modal-xl
                    div.modal-content
                        div.modal-header
                            div.modal-title 🍪
                            button.btn-close(type="button", data-bs-dismiss="modal" aria-label="Close")
                        div.modal-body(style="text-align: center")
                            h4
                                | Polityka prywatności
                            br
                            br
                            span
                                | Cookies to małe pliki tekstowe zapisywane na urządzeniu Użytkownika (komputer, telefon,
                                | tablet), a następnie podczas kolejnych wizyt, pobierane z niego, zbierający informacje – np.
                                | poprzez zapamiętywanie odwiedzin Użytkownika na Stronie i dokonywanych przez niego
                                | czynności.
                            br
                            br
                            span
                                | Wykorzystanie zebranych za pośrednictwem cookies danych osobowych w celach:
                                | dostarczania Użytkownikowi usług świadczonych drogą elektroniczną oraz poprawy jakości
                                | tych usług, a także w celach statystycznych, analitycznych, marketingowych, w szczególności
                                | w zakresie promowania usług i towarów podmiotów trzecich, odbywa się na podstawie zgody
                                | Użytkownika (art. 6 ust. 1 lit. a) RODO). Zgoda na wykorzystanie plików cookie może być
                                | wyrażona poprzez odpowiednią konfigurację przeglądarki. Zgoda zostać w każdym
                                | momencie wycofana, w szczególności poprzez wyczyszczenie historii cookies oraz
                                | wyłączenie obsługi cookies w ustawieniach przeglądarki.
                            br
                            br
                            span
                                | W Polityce informacje dotyczące cookies mają zastosowanie również do innych podobnych
                                | technologii stosowanych na Stronie. Jeśli korzystasz z naszych usług, zakładamy, że zgadzasz
                                | się na używanie plików cookie.
                            br
                            br
                            span
                                | Użytkownik może zmienić ustawienia przeglądarki tak, aby cookies były blokowane – w
                                | całości lub w części, np. tylko od stron trzecich, albo aby każdorazowo otrzymywać
                                | komunikat w momencie kiedy cookies są wysyłane na Twoje urządzenie. Należy jednak
                                | pamiętać, że zablokowanie używania przez Użytkownika cookies, może negatywnie wpłynąć
                                | na wygodę korzystania ze Strony.
                            br
                            br
                            span
                                | W oparciu o cookies Administrator w sposób zautomatyzowany podejmuje decyzje, w tym o
                                | profilowaniu. Administrator wykorzystuje tzw. cookies serwisowe m.in. w związku z
                                | kierowaniem do Użytkowników reklamy na profilach takich jak Facebook, w tym reklamy
                                | behawioralnej. Pliki cookies wykorzystywane w tym celu obejmują: pliki cookies z danymi
                                | wprowadzanymi przez Użytkownika (identyfikator sesji) na czas trwania sesji (ang. user input
                                | cookies), uwierzytelniające pliki cookies wykorzystywane do usług wymagających
                                | uwierzytelniania na czas trwania sesji (ang. authentication cookies), pliki cookies służące do
                                | zapewnienia bezpieczeństwa, np. wykorzystywane do wykrywania nadużyć w zakresie
                                | uwierzytelniania (ang. user centric security cookies), sesyjne pliki cookies odtwarzaczy
                                | multimedialnych (np. pliki cookies odtwarzacza flash), na czas trwania sesji (ang. multimedia
                                | player session cookies), trwałe pliki cookies służące do personalizacji interfejsu Użytkownika
                                | na czas trwania sesji lub nieco dłużej (ang. user interface customization cookies), pliki
                                | cookies służące do zapamiętywania zawartości koszyka na czas trwania sesji (ang. shopping
                                | cart cookies), pliki cookies służące do monitorowania ruchu na stronie internetowej, tj.
                                | analityki danych, w tym cookies Google Analytics (są to pliki wykorzystywane przez spółkę
                                | Google w celu analizy sposobu korzystania z Serwisu przez Użytkownika, do tworzenia
                                | statystyk i raportów dotyczących funkcjonowania Serwisu). Google nie wykorzystuje
                                | zebranych danych do identyfikacji Użytkownika ani nie łączy tych informacji w celu
                                | umożliwienia identyfikacji. Szczegółowe informacje o zakresie i zasadach zbierania danych w
                                | związku z tą usługą można znaleźć pod linkiem:
                                | https://www.google.com/intl/pl/policies/privacy/partners.
                                | Ze względu na okres przechowywania można wyróżnić pliki cookies „stałe i ”sesyjne” , przy
                                | czym „stałe” pozostają w przeglądarce internetowej do czasu ich usunięcia przez
                                | Użytkownika bądź do z góry ustalonego czasu określonego w parametrach pliku cookies, a
                                | ”sesyjne” pozostają w przeglądarce internetowej do momentu jej wyłączenia, bądź wyjścia /
                                | wylogowania się.
                            br
                            br
                            span
                                | Dane osobowe przechowywane są na terenie Europejskiego Obszaru Gospodarczego.
                                | Administrator zastrzega sobie prawo zmiany Polityki w celu doskonalenia zasad ochrony
                                | prywatności i stosowania przepisów prawa.
                        div.modal-footer
                            button.btn.btn-primary(type="button", data-bs-dismiss="modal") Ok

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='/js/scripts.js')
        script(src='/js/cookie-scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
        script(src='https://www.googletagmanager.com/gtag/js?id=UA-233614410-1')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-233614410-1');
